<!DOCTYPE html>
<html>
<head>
    <title>UP Stars Home</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/leaflet/leaflet.ie.css" /><![endif]-->

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
        }

        #telescope_controls {
            position: fixed;
            bottom: 0;
            left: 50%;
            text-align: center;
            z-index: 1;
            background-color: white;
            padding: 10px;
        }
    </style>
    <script src="static/jquery/jquery-1.9.1.min.js"></script>
    <script src="static/jquery/jquery.knob.js"></script>
</head>
<body>
    <div id="telescope_controls">
        <input type="text" value="0" id="telescope_alt" name="dec" data-thickness=".7" data-cursor="60" data-anglearc="75" data-min="0" data-max="75" data-angleoffset="270" data-height="150" data-width="150" data-displayinput="false" />
        <input type="text" value="0" id="telescope_az" name="ra" data-thickness=".7" data-cursor="60" data-min="0" data-max="360" data-height="150" data-width="150" data-displayinput="false" /><br/>
        <input type="button" value="aim" onclick="LoadTiles(telescope_az.value, telescope_alt.value)" />
    </div>

    <div id="map"></div>
    <script src="static/leaflet/leaflet.js"></script>
    <script src="static/skymap.js"></script>
    <script>
    $(function() {
        $("#telescope_alt").knob();
        $("#telescope_az").knob({
            draw : function () {
                this.g.fillText("Hello!", 10, 20);
                return true;
            }
        });
    });
    </script>
</body>
</html>